<ul class="topbar">
	<a href="{{ site.baseurl }}/about" target="_self"><li><u>A</u>bout</li></a>
	<a href="https://twitter.com/IcingTomato" target="_blank"><li><u>T</u>witter</li></a>
	<a href="https://github.com/IcingTomato" target="_blank"><li><u>G</u>ithub</li></a>
    <a href="{{ site.baseurl }}/friends" target="_self"><li><u>F</u>riends</li></a>
    <a href="{{ site.baseurl }}/books" target="_self"><li><u>B</u>ooks</li></a>
    <a href="{{ site.baseurl }}/atom.xml" target="_blank"><li><u>R</u>SS</li></a>
</ul>